<h2>Chicago Boss MongoDB App</h2>

<ul>
<li><a href="/mongodb/todo/">MongoDB ToDo</a></li>
<li>------------</li>
<li><a href="/admin">CB Admin</a></li>
<li><a href="/mysql/todo">MySQL ToDo</a></li>
<li><a href="/pgsql/todo">PostgreSQL ToDo</a></li>
<li>------------</li>
<li><a href="https://github.com/imperialwicket/chicagoboss_mongodb_app">Chicago Boss MongoDB App on Github</a></li>
<li><a href="https://github.com/imperialwicket/chicagoboss_mysql_app">Chicago Boss MySQL App on Github</a></li>
<li><a href="https://github.com/imperialwicket/chicagoboss_postgresql_app">Chicago Boss PostgreSQL App on Github</a></li>
<li>------------</li>
<li><a href="http://imperialwicket.com/the-mob">theMob details @ imperialwicket.com</a></li>
</ul>
